{% extends 'base.html' %}

{% block content %}
    <h1>New Dog</h1>

    
    {% comment %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Dog</button>
    </form>
    {% endcomment %}

    <form action="{% url 'add_dog' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="breed">Breed</label>
            <input type="text" name="breed">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description">
        </div>
        <div>
            <label for="age">Age</label>
            <input type="text" name="age">
        </div>
        <button type="submit">Add New Dog</button>
    </form>
        
{% endblock %}
